# Rust Rocket File
Rocket.toml

# Application Configuration File
Loremaster.ron
loremaster.ron
loremaster.toml
Loremaster.toml

# Rust
/application/target
/application/frontend/target
/application/frontend/dist
/application/frontend/pkg

# Environment files
.env

# Third Party CSS Frameworks/Stylesheets
application/frontend/static/bootstrap-5.2.0-dist/
application/frontend/resources/styles/library/*

# Terraform
*.gcp-service-account.json
.terraform/
*.tfstate
application/database/.project

.DS_Store
application/.DS_Store
application/frontend/.DS_Store
