# Rust Rocket File
Rocket.toml

# Application Configuration File
Loremaster.ron
loremaster.ron
loremaster.toml
Loremaster.toml

# Rust
target/
/loremaster-web-server/target
/loremaster-web-interface/target
/loremaster-web-interface/dist
/loremaster-web-interface/pkg

# Environment files
.env

# Third Party CSS Frameworks/Stylesheets
/loremaster-web-interface/static/bootstrap-5.2.0-dist/
/loremaster-web-interface/resources/styles/library/*

# Terraform
*.gcp-service-account.json
.terraform/
*.tfstate
application/database/.project

.DS_Store
loremaster-web-server/.DS_Store
/loremaster-web-interface/.DS_Store
