html {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   font-family: 'Barlow', sans-serif;
   background: white;
}

body {
   width: 100%;
   height: 100%;
   font-family: 'Barlow', sans-serif;
}