:root {
	--primary-background-gradient: linear-gradient(112deg, rgba(63, 74, 87, 1) 0%, rgba(28, 34, 40, 1) 100%);
	--primary-background-color: #060402;
	--secondary-background-color: black;
	--third-background-color: #4b5668;
	--fourth-background-color: #475362;
	--button-background-color: #373737;
	--button-hover-background-color: #ffffff1c;
	--border-color: #576371;
	--border-color-hover: white;
	--second-border-color: #ffffff38;
	--default-text-color: #fefefe;
	--secondary-text-color: #a0aab7;
	--default-font-family: 'Fira Sans', sans-serif;
	color-scheme: dark;
}

.light {
	--primary-background-gradient: linear-gradient(112deg, rgba(242, 239, 245, 1) 0%, rgba(199, 216, 238, 1) 100%);
	--primary-background-color: #f9fbfd;
	--secondary-background-color: white;
	--third-background-color: #f5f9fc;
	--fourth-background-color: #f5f9fc;
	--button-background-color: #e0e0e4;
	--button-hover-background-color: #0000001c;
	--border-color: #e4f0ff;
	--second-border-color: #e4f0ff;
	--border-color-hover: rgb(32, 32, 32);
	--default-text-color: #222a41;
	--secondary-text-color: #8b909f;
	--default-font-family: 'Fira Sans', sans-serif;
	color-scheme: light;
}



@media (prefers-color-scheme: light) {
	:root {
		/* --primary-background-color: white; */
		--default-text-color: black;
	}
}

html {
	margin: 0;
	padding: 0;
	font-family: var(--default-font-family);
	background: var(--primary-background-color);
	color: var(--default-text-color);
	display: flex;
}

body,
#root,
.__perseus_content {
	min-height: 100%;
	min-width: 100%;
	height: 100vh;
}


body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	/* background: linear-gradient(310deg, rgb(20, 23, 39), rgb(58, 65, 111)); */
	/* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(254, 254, 255, 0.8113446062018558) 100%); */
	/* background-image: linear-gradient(to right, #fff5f0, #fef2ee, #fef0ec, #fdedeb, #fcebea, #fcecec, #fcecef, #fbedf1, #faf1f6, #faf5fa, #fbf8fd, #fcfcff); */
	display: flex;
	flex-grow: 1;
	background: var(--primary-background-gradient);
	transition: 0.6s linear;
}

body div {
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

button {
	padding: .3rem;
	margin: .2rem;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
}


#loremaster-main {
	display: flex;
	flex-direction: row;

}

.loremaster-text {
	color: white;
}

.loremaster-banner {
	text-decoration: none;
	display: flex;
}

.loremaster-banner-link {
	text-decoration: none;
	padding: .6vmin 1vmin;
	margin: .5vmin;
	color: var(--default-text-color);
	background: var(--fourth-background-color);
	border: 2px solid var(--border-color);
	border-radius: .8vmin;
	font-size: 1.8vmin;
}

.loremaster-banner-link:hover {
	background: var(--button-hover-background-color);
	border: 2px solid var(--border-color);
}

.hover-border-bottom {
	border-bottom: medium var(--border-color) solid;
	border-radius: 4px;
}

.hover-border-bottom:hover {
	border-bottom: medium var(--border-color-hover) solid;
	border-radius: 4px;
}

.background-acrylic-white {
	background: rgba(255, 255, 255, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.acrylic-link {
	background: transparent;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.acrylic-link:hover {
	background: rgba(226, 229, 230, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.notification-toast-alert {
	position: absolute;
	display: flex;
	border: transparent 1px solid;
	border-left: 4px solid rgb(31, 240, 31);
	background: white;
	margin: 8px;
	padding: 16px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	width: 20vw;
	z-index: 99;
}

.notification-toast-alert image {
	width: inherit;
	height: inherit;
	display: block;
}

.notification-toast-alert div {
	display: flex;
	flex-direction: column;
}

.notification-toast-alert h5 {
	font-size: medium;
	font-weight: 500;
	margin: 0;
	padding: 0;
	align-self: flex-start;
}

.notification-toast-alert p {
	margin: 0;
	padding: 0;
}

.notification-toast-alert button {
	margin: 0;
	padding: 0;
	align-self: center;
	background: inherit;
	border: none;
	width: 50px;
	height: 50px;
}

.timeline-circle {
	height: 25px;
	width: 25px;
	background-color: rgb(0, 170, 243);
	border-radius: 50%;
	display: inline-block;
}

.timeline-circle-empty {
	height: 25px;
	width: 25px;
	background-color: rgba(0, 170, 243, 0);
	border: 1px solid rgb(0, 170, 243);
	border-radius: 50%;
	display: inline-block;
}


.top-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.top-nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.top-nav ul li {
	margin: 0;
	padding: 0 0 0 0;
	display: inherit;
}

.top-nav ul li a {
	margin: 1vmin 1vmin 0vmin 1vmin;
	padding: 1vmin;
	text-decoration: none;
	border: transparent 0.1vmin solid;
	border-radius: 1vmin;
}

.top-nav ul li a.active-link {
	border-bottom: #9fc0ff .3vmin solid;
	border-radius: 0;
}

.top-nav ul li a:hover {
	border: #0866aa5e .1vmin solid;
	background-color: #0866aa12;
}

.side-nav {
	display: flex;
	flex-direction: column;
	background-color: var(--third-background-color);
	border: 3px solid var(--border-color);
	border-radius: 1rem;
	margin: 1rem;
	padding: 2.8rem;
}

.side-nav-container {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 1vmin 0;
	padding: 0;
}

.side-nav-item {
	text-align: center;
	display: flex;
}

.side-nav-link {
	text-decoration: none;
	color: var(--default-text-color);
	display: flex;
	flex-grow: 1;
	align-items: center;
	border: 1px solid transparent;
}

.side-nav-link:hover {
	background-color: var(--button-hover-background-color);
}

.big-nav-button {
	padding: .5vmin;
	margin: .15vmin .75vmin;
	color: var(--default-text-color);
	border-radius: 1vmin;
	width: 10vmin;
}

.big-nav-button-text,
.big-nav-button-icon {
	margin: .25vmin;
}

.popup-button+.test-popup:active,
.popup-button:focus+.test-popup {
	visibility: visible;
}

.test-popup {
	border: solid 1px var(--border-color);
	visibility: hidden;
}

.glow-button {
	padding: 1vmin;
	margin: .3vmin;
	color: var(--default-text-color);
	background-color: rgb(99, 102, 241);
	box-shadow: rgba(99, 102, 241, 0.9) 0px 8px 18px -8px;
	border: transparent;
	border-radius: 0.5rem;
	cursor: pointer;
}

.week-widget {
	display: flex;
	flex-direction: row;
}

.card {
	border: solid 0.1rem var(--border-color);
	border-radius: 1vmin;
	padding: .2vmin;
	margin: 0.5vmin;
	background-color: var(--third-background-color);
}

.active-card {
	background-color: rgb(0, 123, 255);
	border: solid 0.1rem rgb(0, 123, 255);
}

.text-light {
	color: var(--default-text-color);
}

.m-1 {
	margin: 1vmin;
}

.sleep-widget {
	background: var(--fourth-background-color);
	color: var(--default-text-color);
	border: solid 1px var(--border-color);
	border-radius: 1vmin;
	display: inline-flex;
	padding: 2vmin;
	margin: 1vmin 0;
}

.sleep-widget-section {
	display: flex;
	flex-direction: column;
	margin: 0 1vmin;
}

.sleep-widget-section-top {
	display: flex;
}

.sleep-widget-section-bottom {
	display: flex;
	flex-direction: column;
}

.sleep-widget-number {
	font-size: 4vmin;
	margin: .5vmin;
}

.sleep-widget-icon {
	margin: .5vmin;
	display: flex;
	align-items: center;
}

.sleep-widget-icon svg {
	width: 4vmin;
	height: 4vmin;
}

.filled-button {
	color: var(--default-text-color);
	border-radius: 1vmin;
	display: flex;
	padding: .6vmin;
	cursor: pointer;
	align-items: center;
}

.filled-button:hover {
	background: var(--button-hover-background-color);
}

.filled-button-icon svg {
	fill: var(--default-text-color);
	margin: 0 .4rem;
}

#chronicle-container {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.date-time-widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 12rem;
}

.date-time-widget div:nth-child(1) {
	font-size: 1rem;
	color: var(--secondary-text-color);
	margin: .25vmin 0;
}


.date-time-widget div:nth-child(2) {
	font-size: 1rem;
	margin: .25vmin 0;
}

.date-time-widget div:nth-child(3) {
	font-size: 2.3rem;
}

.date-time-widget div:nth-child(4) {
	font-size: .8rem;
	color: var(--secondary-text-color);
	margin: .2vmin 0;
}

.quick-functions {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.quick-functions div:not(:first-child, :last-child) {
	border-right: 2px solid var(--second-border-color);
	border-left: 2px solid var(--second-border-color);
}

.quick-functions div {
	display: flex;
	justify-content: center;
}

.quick-functions button {
	background: inherit;
	border: 1px solid transparent;
	padding: .7vmin;
}

.quick-functions button:hover {
	background: inherit;
	border-radius: 1vmin;
	background-color: var(--button-hover-background-color);
}

.registration-form {
	display: flex;
	flex-direction: column;
}