:root {
	--background: #2d2d2d;
	--background-hover: #4d4d4d;
	--border-color: #4d4d4d;
	--border-radius: 6px;
	--medium-text: 18px;
	--small-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	--text-color: white;
	--dimmed-text-color: #a3a3a3;

	--blue: #1a75ed;

	--primary-background-gradient: linear-gradient(112deg, rgba(63, 74, 87, 1) 0%, rgba(28, 34, 40, 1) 100%);
	--primary-background-color: #060402;
	--secondary-background-color: black;
	--third-background-color: #4b5668;
	--fourth-background-color: #475362;
	--button-background-color: #373737;
	--button-hover-background-color: #ffffff1c;
	--border-color-hover: white;
	--second-border-color: #ffffff38;
	--default-text-color: #fefefe;
	--secondary-text-color: #a0aab7;
	--default-font-family: 'Fira Sans', sans-serif;
	--default-border-radius: 8px;
	color-scheme: dark;
}

.light {
	--background: #fff;
	--background-hover: #eee;
	--border-color: #eee;
	--border-radius: 6px;
	--medium-text: 18px;
	--small-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	--text-color: black;
	--dimmed-text-color: #535353;

	--blue: #1a75ed;

	--primary-background-gradient: linear-gradient(112deg, rgba(242, 239, 245, 1) 0%, rgba(199, 216, 238, 1) 100%);
	--primary-background-color: #f9fbfd;
	--secondary-background-color: white;
	--third-background-color: #f5f9fc;
	--fourth-background-color: #f5f9fc;
	--button-background-color: #e0e0e4;
	--button-hover-background-color: #0000001c;
	--second-border-color: #e4f0ff;
	--border-color-hover: rgb(32, 32, 32);
	--default-text-color: #222a41;
	--secondary-text-color: #8b909f;
	--default-font-family: 'Fira Sans', sans-serif;
	--default-border-radius: 8px;
	color-scheme: light;
}



@media (prefers-color-scheme: light) {
	:root {
		/* --primary-background-color: white; */
		--default-text-color: black;
	}
}

html {
	margin: 0;
	padding: 0;
	font-family: var(--default-font-family);
	background: var(--background);
	color: var(--default-text-color);
	display: flex;
}

body,
#root,
.__perseus_content {
	min-height: 100%;
	min-width: 100%;
	height: 100vh;
}


body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	/* background: linear-gradient(310deg, rgb(20, 23, 39), rgb(58, 65, 111)); */
	/* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(254, 254, 255, 0.8113446062018558) 100%); */
	/* background-image: linear-gradient(to right, #fff5f0, #fef2ee, #fef0ec, #fdedeb, #fcebea, #fcecec, #fcecef, #fbedf1, #faf1f6, #faf5fa, #fbf8fd, #fcfcff); */
	display: flex;
	flex-grow: 1;
	background: var(--background);
	transition: 0.6s linear;
}

body:first-child {
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

button {
	padding: .3rem;
	margin: .2rem;
	cursor: pointer;
	box-sizing: border-box;
	border-style: solid;
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	border-width: 1px;
	background: var(--background);
}

button:hover {
	background-color: var(--background-hover);
}

form {
	display: flex;
	flex-direction: column;
	align-items: start;
}


#loremaster-main {
	display: flex;
	flex-direction: row;

}

.loremaster-text {
	color: white;
}

.loremaster-banner {
	text-decoration: none;
	display: flex;
}

.loremaster-banner-link {
	text-decoration: none;
	padding: .6vmin 1vmin;
	margin: .5vmin;
	color: var(--default-text-color);
	background: var(--fourth-background-color);
	border: 2px solid var(--border-color);
	border-radius: .8vmin;
	font-size: 1.8vmin;
}

.loremaster-banner-link:hover {
	background: var(--button-hover-background-color);
	border: 2px solid var(--border-color);
}

.hover-border-bottom {
	border-bottom: medium var(--border-color) solid;
	border-radius: 4px;
}

.hover-border-bottom:hover {
	border-bottom: medium var(--border-color-hover) solid;
	border-radius: 4px;
}

.background-acrylic-white {
	background: rgba(255, 255, 255, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.acrylic-link {
	background: transparent;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.acrylic-link:hover {
	background: rgba(226, 229, 230, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.timeline-circle {
	height: 25px;
	width: 25px;
	background-color: rgb(0, 170, 243);
	border-radius: 50%;
	display: inline-block;
}

.timeline-circle-empty {
	height: 25px;
	width: 25px;
	background-color: rgba(0, 170, 243, 0);
	border: 1px solid rgb(0, 170, 243);
	border-radius: 50%;
	display: inline-block;
}


.top-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.top-nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.top-nav ul li {
	margin: 0;
	padding: 0 0 0 0;
	display: inherit;
}

.top-nav ul li a {
	margin: 1vmin 1vmin 0vmin 1vmin;
	padding: 1vmin;
	text-decoration: none;
	border: transparent 0.1vmin solid;
	border-radius: 1vmin;
}

.top-nav ul li a.active-link {
	border-bottom: #9fc0ff .3vmin solid;
	border-radius: 0;
}

.top-nav ul li a:hover {
	border: #0866aa5e .1vmin solid;
	background-color: #0866aa12;
}

.side-nav {
	display: flex;
	flex-direction: column;
	background-color: var(--third-background-color);
	border: 3px solid var(--border-color);
	border-radius: 1rem;
	margin: 1rem;
	padding: 2.8rem;
}

.side-nav-container {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 1vmin 0;
	padding: 0;
}

.side-nav-item {
	text-align: center;
	display: flex;
}

.side-nav-link {
	text-decoration: none;
	color: var(--default-text-color);
	display: flex;
	flex-grow: 1;
	align-items: center;
	border: 1px solid transparent;
}

.side-nav-link:hover {
	background-color: var(--button-hover-background-color);
}

.big-nav-button {
	padding: .5vmin;
	margin: .15vmin .75vmin;
	color: var(--default-text-color);
	border-radius: 1vmin;
	width: 10vmin;
}

.big-nav-button-text,
.big-nav-button-icon {
	margin: .25vmin;
}

.popover-button+.popover:active,
.popover-button:focus+.popover {
	visibility: visible;
}

.popover {
	border: solid 1px var(--border-color);
	visibility: hidden;
	position: relative;
	background: #fff3;
	width: 123px;
	height: 100px;
	text-align: center;
	padding: .4rem;
	border-radius: 8px;
	top: 10px;
	backdrop-filter: blur(8px);
	left: -10px;
}

.popover-arrow {
	position: absolute;
	top: -19px;
	left: 45px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff3;
	width: 0;
	height: 0;
}

.glow-button {
	padding: 1vmin;
	margin: .3vmin;
	color: var(--default-text-color);
	background-color: rgb(99, 102, 241);
	box-shadow: rgba(99, 102, 241, 0.9) 0px 8px 18px -8px;
	border: transparent;
	border-radius: 0.5rem;
	cursor: pointer;
}

.week-widget {
	display: flex;
	flex-direction: row;
}

.card {
	border: solid 0.1rem var(--border-color);
	border-radius: var(--border-radius);
	padding: .6rem;
	margin: 0.5vmin;
	background-color: var(--third-background-color);
}

.active-card {
	background-color: rgb(0, 123, 255);
	border: solid 0.1rem rgb(0, 123, 255);
}

.text-light {
	color: var(--default-text-color);
}

.m-1 {
	margin: 1vmin;
}

.sleep-widget {
	background: var(--fourth-background-color);
	color: var(--default-text-color);
	border: solid 1px var(--border-color);
	border-radius: 1vmin;
	display: inline-flex;
	padding: 2vmin;
	margin: 1vmin 0;
}

.sleep-widget-section {
	display: flex;
	flex-direction: column;
	margin: 0 1vmin;
}

.sleep-widget-section-top {
	display: flex;
}

.sleep-widget-section-bottom {
	display: flex;
	flex-direction: column;
}

.sleep-widget-number {
	font-size: 4vmin;
	margin: .5vmin;
}

.sleep-widget-icon {
	margin: .5vmin;
	display: flex;
	align-items: center;
}

.sleep-widget-icon svg {
	width: 4vmin;
	height: 4vmin;
}

.filled-button {
	color: var(--default-text-color);
	border-radius: 1vmin;
	display: flex;
	padding: .6vmin;
	cursor: pointer;
	align-items: center;
}

.filled-button:hover {
	background: var(--button-hover-background-color);
}

.filled-button-icon svg {
	fill: var(--default-text-color);
	margin: 0 .4rem;
}

#chronicle-container {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.date-time-widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 12rem;
}

.date-time-widget div:nth-child(1) {
	font-size: 1rem;
	color: var(--secondary-text-color);
	margin: .25vmin 0;
}


.date-time-widget div:nth-child(2) {
	font-size: 1rem;
	margin: .25vmin 0;
}

.date-time-widget div:nth-child(3) {
	font-size: 2.3rem;
}

.date-time-widget div:nth-child(4) {
	font-size: .8rem;
	color: var(--secondary-text-color);
	margin: .2vmin 0;
}

.quick-functions {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.quick-functions div:not(:first-child, :last-child) {
	border-right: 2px solid var(--second-border-color);
	border-left: 2px solid var(--second-border-color);
}

.quick-functions div {
	display: flex;
	justify-content: center;
}

.quick-functions button {
	background: inherit;
	border: 1px solid transparent;
	padding: .7vmin;
}

.quick-functions button:hover {
	background: inherit;
	border-radius: 1vmin;
	background-color: var(--button-hover-background-color);
}

.registration-form {
	display: flex;
	flex-direction: column;
}

form .input-row {}

form .input-row label,
input {
	display: flex;
	flex-direction: column;
	margin: .4vmin 0;
}

form .input-row label {}

.toast {
	display: flex;
	color: var(--default-text-color);
	background-color: var(--fourth-background-color);
	border-radius: 6px;
	box-shadow: inset 0 0 0 1px var(--border-color), var(--color-shadow-large);
	width: max-content;
	max-width: 450px;
	margin: 16px;
}

.toast .toast-icon {
	background-color: rgb(0, 118, 253);
}

.toast--success .toast-icon {
	background-color: rgb(31, 136, 61);
}

.toast--error .toast-icon {
	background-color: red;
}

.toast--warning .toast-icon {
	background-color: rgb(227, 166, 46);
}

.toast-icon {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	flex-shrink: 0;
	border: 1px solid transparent;
	border-right-color: transparent;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: transparent;
	border-right-style: solid;
	border-right-width: 1px;
	border-right: 0;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

.toast-content {
	padding: 16px;
	background: var(--fourth-background-color);
	border-left: 0;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}


.input-validation {
	display: flex;
	color: var(--default-text-color);
	background-color: inherit;
	border-radius: 6px;
	box-shadow: inset 0 0 0 1px var(--border-color), var(--color-shadow-large);
	width: max-content;
	max-width: 450px;
	margin: 16px;
}

.input-validation.input-validation--information {
	color: rgb(0, 118, 253);
}

.input-validation.input-validation--warning {
	color: rgb(227, 166, 46);
}

.input-validation.input-validation--error {
	color: red;
}

.input-validation.input-validation--success {
	color: rgb(31, 136, 61);
}

.input-validation-content {
	padding: 16px;
	background: inherit;
	border-left: 0;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

.input-validation-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	flex-shrink: 0;
	border: 1px solid transparent;
	border-right-color: transparent;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: transparent;
	border-right-style: solid;
	border-right-width: 1px;
	border-right: 0;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}


.accordion {
	border: solid 1px;
	border-color: var(--border-color);
	max-width: 600px;
}

.accordion-item-title {
	display: flex;
	margin: 0;
	padding: 0;
	background: var(--third-background-color);
}

.accordion-item-title button {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin: 0;
	text-align: start;
}

.accordion-item-title button:first-child {
	flex-grow: 1;
}

.accordion-toggle {
	display: flex;
	flex-direction: row;
}

.accordion-shevron {
	flex: 1;
	text-align: end;
}

.collapse:not(.show) {
	display: none;
}

.placeholder {
	width: 50%;
}

.placeholder-glow {
	animation: placeholder-glow 2s linear infinite alternate;
}

.tab-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tab-button-group {
	display: flex;
	flex-direction: row;
	background-color: var(--background);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: var(--border-radius);
	margin-bottom: .6rem;
	box-shadow: var(--small-box-shadow);
}

.tab-button-group .tab-button:first-of-type {
	border-left-width: 0;
	border-left-style: none;
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.tab-button-group .tab-button:last-of-type {
	border-right-width: 0;
	border-right-style: none;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.tab-button {
	margin: 0;
	border-radius: 0;
	border-color: var(--background);
	border-style: solid;
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	background: transparent;
	padding: 1rem;
	font-size: var(--medium-text);
	color: var(--dimmed-text-color);
}

.tab-button:hover {
	background-color: var(--background-hover);
}

.tab-button.active-tab {
	color: var(--text-color);
	border-bottom-color: var(--blue);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.tab-section {
	background: var(--background);
	color: var(--default-text-color);
	border-radius: 4px;
	padding: 1rem;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	border-radius: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch span:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
}

.switch input:checked+span {
	background-color: #2196F3;
}

.switch input:focus+span {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+span:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.switch span {
	border-radius: 34px;
}

.switch span:before {
	border-radius: 50%;
}

.design-system {
	background-color: var(--background);
	height: 100%;
	display: grid;
	grid-template-areas: 'header header' 'nav content';
	grid-template-rows: auto 1fr;
	grid-template-columns: 100px 1fr;
}

.design-system-header {
	grid-area: header;
	background-color: var(--background);
}

.design-system-nav {
	grid-area: nav;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: var(--background);
	background-color: var(--background);
	padding-top: .6rem;
}

.design-system-content {
	grid-area: content;
	padding: 1rem;
}



@keyframes placeholder-glow {
	0% {
		background-color: hsl(200, 20%, 80%);
	}

	100% {
		background-color: hsl(200, 20%, 95%);
	}
}